<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div class = "container-fluid footer">
  <div class = "row">
    <div class = "col-xs-12 text-center">
      <p>Questions, comments, concerns? <a href="mailto:bryanttmatt@gmail.com">Email the webmaster</a></p>
    </div>
  </div>
  </div>