<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Capstone Project</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300' type='text/css' rel='stylesheet' />
<link href='/css/style.css' type='text/css' rel='stylesheet' />
 
</head>
<% include ../newheader %>
<body>
<div id="container" class="center">
  
  <% if (loggedin==0) { %>
	<div id="myModal" class="modal" style="display:block">

	<!-- Modal content -->
	<div class="modal-content animate">
	<form id="login" action="authenticate" method="POST">
		<label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <button type="submit">Login</button>
	</form>
	</div>

	</div>
  <%}%>
  
  <% if (loggedin==1) { %>
	<h2 class="h2v2" id="username"><%=username%></h2>
  <%}%>
  
  <div class="container">
      <div class="inbox">
        <div id="activeUsers">
          <h4>Active users</h4>
        </div>
    </div>
  
</div>
<script src="../socket.io/socket.io.js"></script>
<script src="/javascripts/chatroom.js"></script>
</body>
 <% include ../newfooter %>
<script>
if(<%=loggedin%>==1){
	newUserConnected('<%=username%>');
}

</script>
</html>